[Unit]
Description=Filebeat sends log files to Logstash or directly to Elasticsearch.
Documentation=https://www.elastic.co/products/beats/filebeat
Wants=network-online.target
After=network-online.target

[Service]
Environment="BEAT_LOG_OPTS="
Environment="BEAT_CONFIG_OPTS=-c {{ filebeat_config_file }}"
Environment="BEAT_PATH_OPTS=-path.home {{ filebeat_home }} -path.config {{ filebeat_config_dir }} -path.data {{ filebeat_data_dir }} -path.logs {{ filebeat_log_dir }}"
ExecStart={{ filebeat_home }}/bin/filebeat -environment systemd $BEAT_LOG_OPTS $BEAT_CONFIG_OPTS $BEAT_PATH_OPTS
Restart=always

[Install]
WantedBy=multi-user.target
